---
import Layout from '~/layouts/PageLayout.astro';
import HeroText from '~/components/widgets/HeroText.astro';
import ContactUs from '~/components/widgets/Contact.astro';
import Features2 from '~/components/widgets/Features2.astro';

const metadata = {
  title: 'Contact',
};
---

<Layout metadata={metadata}>
  <!-- HeroText Widget ******************* -->

  <div class="space-y-6 md:space-y-8">
    <HeroText tagline="Contact" title="Let's Connect!" />
  
    <Features2
      title=""
      items={[
        {
          title: 'Phone',
          description: '+7 (707) 132-29-22',
          icon: 'tabler:phone',
        },
        {
          title: 'Email',
          description: 'mm12434@nyu.edu',
          icon: 'tabler:mail',
        },
        {
          title: 'LinkedIn',
          description:
            '<a href="https://linkedin.com/in/maulenm" target="_blank" rel="noopener noreferrer" style="color: #0072b1; text-decoration: underline;">Click here</a>',
          icon: 'tabler:brand-linkedin',
        },
      ]}
    />
  </div>
</Layout>
